@charset "utf-8";
*{
    padding: 0;
    margin: 0;
    font-family: sans-serif Arial;
}
.main{
    width: 1000px;
    height: 725px;
    margin: auto;
}
.text{
    width: 100%;
    height: 100px;
    background-color: rgb(187, 220, 241);
}
.h1{
    color: black;
    font-size: 16px;
}
.bord{
    width: 100%;
    height: 40px;
    background-color: royalblue;
}
.right{
    width: 750px;
    height: 250px;
    float: left;
}
.right-1{
    width: 100%;
    height: 285px;
    border: 1px solid gray;
    margin-top: 4px;
    background-color: white;
}
.right-2{
    width: 100%;
    height: 285px;
    border: 1px solid gray;
    margin-top: 7px;
    float: left;
    background-color: white;
}
.right-3{
    width: 100%;
    height: 40px;
    background-color: gray;
}
.right-4{
    width: 240px;
    height: 530px;
    background-color: rgb(236, 136, 13);
    float: right;
    margin-top: 4px;
    margin-left: 70x;
}
