@charset "utf-8";
*{
    padding: 0;
    margin: 0;
    font-family: sans-serif Arial;
}
.main{
    width: 1000px;
    height: 420px;
    border: 1px solid red;
    margin: auto;
}
/*vùng dòng1*/
.dong1{
    width: 100%;
    height: 200px;
    background-color: silver;
}
.box-1{
    width: 331px;
    height: 100%;
    float: left;
    background-color: yellow;
}
.box-2{
    width: 330px;
    height: 100%;
    float: left;
    margin-left: 4px;
    background-color: rebeccapurple;
}
.box-3{
    width: 330px;
    height: 100%;
    float: left;
    margin-left: 4px;
    background-color: paleturquoise;
}
/*vùng dòng2*/
.dong2{
    width: 100%;
    height: 200px;
    margin-top: 20px;
    background-color: violet;
}
.box-4{
    width: 247px;
    height: 100%;
    float: left;
    background-color: brown;
}
.box-5{
    width: 247px;
    height: 100%;
    float: left;
    margin-left: 4px;
    background-color: cornflowerblue;
}
.box-6{
    width: 247px;
    height: 100%;
    float: left;
    margin-left: 4px;
    background-color: lightseagreen;
}
.box-7{
    width: 247px;
    height: 100%;
    float: left;
    margin-left: 4px;
    background-color: greenyellow;
}