@charset "utf-8";
*, ul{
    padding: 0;
    margin: 0;
    font-size: 15px;
    font-family: "ROboto", sans-serif;
}
ul {
    list-style-type: none;
}
.Wrapper{
    width: 250px;
    min-height: 150px;
    margin-left: 50px;
    margin-top: 50px;
    border-radius: 20px;
    background-color: burlywood;   
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
.Wrapper ul{
    margin-top: 0px;
    width: 200px;
}
.Wrapper ul li {
    width: 250px;
    height: 40px;
}
.Wrapper ul li a{
    text-decoration: none;
    color: black;
    border-bottom: 1px solid rgb(231, 206, 174);
    display: block;
    line-height: 40px;
    text-indent: 15px;
}
.Wrapper ul li a:hover{
    background-color: rgb(231, 206, 174);
    border-left: 2px solid rgb(143, 139, 139);
    color: rgb(143, 139, 139);
}
.Wrapper h1{
    text-align: center;
    font-size: medium;
    color: black;
    min-height: 50px;
    background-color:sienna;
    border-radius: 20px 20px 0px 0px;
}
